* {
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}

body { 
    margin: 0;
    padding: 0;
}

h2 {
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px;
    text-shadow: 2px 2px 1px rgba(24, 64, 82, 0.3);
}

nav { 
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 7px;

    .logo img { 
        width: 170px;
    }

    .menu {

        ul { 
            display: inline;
            justify-content: space-between;
            align-items: center;
            padding: 0 40px;
        }

        li { 
            padding-right: 50px;
            display: inline;            

        }

        a { 
            text-decoration: none;
            justify-content: center;
            align-items: center;
            color: #f3f1e5;
        }
        
    }

}


.sinopse { 
    // background: url(../assets/id/sinopseGIF1.gif);
    background: url(../assets/id/lambe.jpg);
    display: grid;
    justify-content: center;

    .sinopseTexto { 
        width: 400px;
        color: white;
        font-size: 20px;
        font-weight: lighter;
        padding: 20px 0px;
        text-align: center;
        text-shadow: 2px 2px 1px rgba(24, 64, 82, 0.3);

        @media (max-width:378px) {
            width: 350px;
            font-size: 15px;
        }

    }
}

.trailer { 
    div {
        @media (max-width:378px) {
            display: none;           
        }
    }

    .gifTrailer { 
        display: none;
        @media (max-width:378px){
            display: flex;
            width: 100vw;
        }
    }
}

.imageMakingOFF { 
    width: 50%;

    @media (max-width:378px) {
        display: none;
    }
}

// .gallery img { 
//     width: 1348px;

//     @media (max-width:378px) {
//         width: 100vw;
//     }
// }

.thanksTO { 
    background-image: url('../assets/id/poster-mecanica3.jpg');
    margin: 0;
    padding: 15px;
    display: grid;
    justify-content: center;

    // width: 100vw;

    .listMdS { 
        width: 400px;

        .team { 
            width: 400px;
            color: white;
            font-size: 20px;
            font-weight: lighter;
            padding: 5px 0px;
            text-align: center;
            text-shadow: 2px 2px 1px rgba(24, 64, 82, 0.3);
    
            @media (max-width:378px) {
                width: 390px;
                justify-content: center;
                font-size: 15px;
            }
    
        }

    }

}

footer { 
    .credits{
        background-color: #333333;
        display: flex;
        justify-content: center;


        p {
            font-size: 13px;
            font-weight: lighter;
            padding: 17px 5px;
        }
    }
    
    img { 
        width: 60px;
        height: 10px;
        padding: 20px 0px;
    }
}