// geral //

* {
    font-family: 'Rubik', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}

h2 {
    display: flex;
    justify-content: center;
    color: #000000;
    padding: 10px;
    // text-shadow: 2px 2px 1px rgba(24, 64, 82, 0.3);
}

h3 { 
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

p { 
    color: #000000;
    font-size: 13px;
    padding: 5px 0px;
    text-align: start;
    line-height: 1.6;
}

a { 
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.box-content {
    width: 600px;
    padding: 45px 330px 5px;

    @media (min-width:320px) { 
        width: 300px;
        padding: 10px 10px;
    }

    @media (min-width:768px){
        width: 600px;
        padding: 45px 330px 5px;
    }
}

.adjust-pic { 
    width: 820px;

    @media (min-width:320px){
        width: 100vw;
    }

    @media (min-width:768px){
        width: 50vw;
    }

    
}

// nav

.sidebar { 
    height: 100%;
    width: 190px;
    background-color: #ffffff;
    position: fixed;
    z-index: 1;

    @media (max-width:768px) {
        position: relative;
        display: flex;
        justify-content: space-between;
    }


    .logo {
        a {
            padding: 0;
            width: 200px;

            @media (min-width:320px) {
                padding-top: 0px;
                padding-left: 35px;
                padding-bottom: 10px;
            }

            @media (min-width:768px) {
                // display: flex;
                padding-left: 0;
            }

            img { 
                padding-bottom: 0px;
                padding-top: 10px;
                padding-left: 10px;
                width: 200px;

                @media (min-width:320px){
                    padding-bottom: 0px;
                    padding-top: 5px;
                    padding-left: 40px;
                }

                @media (max-width:768px) { 
                    padding-left: 35px;
                }
            }
        }
    }

    .menu-mobile { 
        display: none;
        justify-content: center;
        transition: transform 250ms ease-in-out;
        position: absolute;
        padding-top: 20px;


        @media (max-width:768px) {
            display: grid;
            height: 3vw;
            position: absolute;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        
            li { 
                float: left;
                padding: 0px 20px;
                line-height: 40px;
                cursor: pointer;

                .menu-content { 
                    display: none;
                    background-color: #ffffff;

                    a { 
                        padding: 15px;
                    }
                }
            }

        }   
    }

    .menu-pc { 
        display: grid;
        justify-content: space-around;
        align-items: center;
        // padding: 0 40px;

        @media (max-width:768px) {
            display: none;      
        }

    }
}

footer { 
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding-top: 100px;

    @media (min-width:319px) { 
        padding-top: 20px;
    }

    p {
        font-size: 10px;
        padding: 17px 5px;
        color: #000000;
    }

    a:hover {
        color: #9562a4;
    }

    .instagram { 
        display: grid;
        padding-top: 5px;
        justify-content: center;
    
        @media (max-width:768px) {
            padding-top: 0px;
        }
    }

}

// pages //

// index - escolha linguagem //

.principal { 
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 370px;

    @media (min-width:320px){
        padding: 180px 0px;
    }

    @media (min-width:768px){
        padding: 150px 0;
    }

    .logo-index { 
        width: 400px;
        justify-content: center;

        @media (min-width:320px) {
            width: 250px;
            padding-left: 35px;           
        }

        @media (min-width:768px) {
            width: 350px;
            padding-left: 0;
        }
    }

    .buttons { 
        padding: 0 115px;
        @media (min-width:320px) {
            padding: 10px 85px;           
        }
        .languageOption {
            background-color:#efcb68;
            border-radius:22px;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-size:15px;
            padding:15px 25px;
            text-decoration:none;
        }
        .languageOption:hover {
            background-color:#b83f3f;
        }
        .languageOption:active {
            position:relative;
            top:1px;
        }
    }
}

// index pt/en // 

.content { 
    .teaser { 
        width: 800px;
        padding: 45px 330px 5px;
    
        @media (min-width:320px) { 
            width: 100%;
            padding: 10px 0px;
        }
    
        @media (min-width:768px){
            width: 768px;
            padding: 45px 330px 5px;
        }
    }
}

.imdb { 
    width: 30px;
}

// crew //

.thanks { 
    padding-top: 30px;
}

.pics-crew { 
    width: 600px;
    padding: 45px 330px 5px;

    @media (min-width:320px) { 
        width: 300px;
        padding: 10px 0;
    }

    @media (min-width:768px){
        width: 500px;
        padding: 45px 330px 5px;
    }

}
// screenings 

//sobrescreve os paddings no mobile pra que a imagem fique sem borda no 320
//infelizmente vc vai ter que fazer tudo na mão mesmo, se fodeu

.box-content-screenings {
    display: flex;
    width: 600px;
    padding: 45px 330px 5px;

    @media (min-width:320px) { 
        width: 300px;
        padding: 10px 10px;
        display: block;
    }

    @media (min-width:768px){
        width: 600px;
        padding: 45px 330px 5px;
        display: flex;
    }

    h1, h3, p { 
        width: 450px;

        @media (max-width:375px) {
            width: 300px;
        }
    }
    
    .frame { 
        width: 600px;
        height: 800px;
        padding: 45px 330px 5px;
        display: flex;
        // justify-content: flex-end;
    
        @media (min-width:320px) { 
            width: 100%;
            height: 520px;
            padding: 20px 0 0 0;
        }
    
        @media (min-width:768px){
            width: 600px;
            padding-left: 200px;
            padding-top: 0px;
            padding-bottom: 30px;
        }
    
        img { 
            height: 520px;
            display: flex;
        
            @media (min-width:320px) {
                width: 100%;
                height: 490px;
            }
    
            @media (min-width:768px){
                width: 350px;
                height: 530px;
                // padding-top: 0px;
            }
        }
    }
}


// contact



