* {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  padding: 10px;
}

p {
  color: #000000;
  font-size: 10px;
  font-weight: lighter;
  padding: 5px 0px;
  text-align: start;
  line-height: 1.6;
}

h3 {
  font-size: 20px;
}

.sidebar {
  height: 100%;
  width: 190px;
  background-color: #ffffff;
  position: fixed;
  z-index: 1;
}

@media (max-width: 768px) {
  .sidebar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.sidebar .logo img {
  width: 170px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .sidebar .logo img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.sidebar .menu-hamburguer {
  display: none;
}

@media (max-width: 768px) {
  .sidebar .menu-hamburguer {
    display: -ms-grid;
    display: grid;
    height: 3vw;
  }
}

.sidebar ul {
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .sidebar ul {
    display: none;
  }
}

.sidebar ul #flip, .sidebar ul #painel {
  padding: 5px;
  text-align: center;
  background-color: #f6f6f6;
  border: solid 1px #f6f6f6;
}

.sidebar ul li a {
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.sidebar .instagram {
  display: -ms-grid;
  display: grid;
  padding-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .sidebar .instagram {
    padding-top: 0px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

footer p {
  font-size: 10px;
  padding: 17px 5px;
  color: #000000;
}

footer a {
  text-decoration: none;
  color: #000000;
}

footer a:hover {
  color: #9562a4;
}

.principal {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 600px;
  padding: 100px 370px;
}

@media (max-width: 378px) {
  .principal {
    width: 80px;
    padding: 140px 120px;
  }
}

.principal img {
  width: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 378px) {
  .principal img {
    width: 80vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.principal .buttons {
  padding: 0 115px;
}

@media (max-width: 378px) {
  .principal .buttons {
    padding: 10px 55px;
  }
}

.principal .buttons .languageOption {
  background-color: #b64242e5;
  border-radius: 22px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 15px 25px;
  text-decoration: none;
}

.principal .buttons .languageOption:hover {
  background-color: #b83f3f;
}

.principal .buttons .languageOption:active {
  position: relative;
  top: 1px;
}

.content .trailer-pc {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 330px;
}

@media (max-width: 768px) {
  .content .trailer-pc {
    padding: 10px 20px;
    display: none;
  }
}

@media (max-width: 320px) {
  .content .trailer-pc {
    display: none;
    padding-left: 0;
  }
}

.content .mobile {
  display: none;
}

@media (max-width: 640px) {
  .content .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 320px) {
  .content .mobile {
    display: none;
  }
}

.content .cast {
  width: 600px;
  padding: 15px 330px;
}

@media (max-width: 361px) {
  .content .cast {
    padding: 10px;
    width: 300px;
  }
}

@media (max-width: 768px) {
  .content .cast {
    padding: 15px 20px;
    width: 300px;
  }
}

.crew-list {
  margin: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.crew-list .list {
  width: 400px;
}

.crew-list .list .team {
  width: 400px;
  color: #000000;
  font-size: 10px;
  font-weight: lighter;
  padding: 5px 0px;
  text-align: center;
}

@media (max-width: 378px) {
  .crew-list .list .team {
    width: 390px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 15px;
  }
}

.poster {
  width: 307px;
}
/*# sourceMappingURL=main.css.map */